@disclaimer-color: #5cb85c;


.onmessage-error {
  overflow-y: scroll;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-height: 150px;
  padding: 5px;
  margin-top: 5px;
}

.no-style-button,
.search-result {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: transparent;

  &:hover,
  &:focus {
    background: inherit;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: none;
  }
}

.browser-link {
  margin-bottom: 10px;
}

.search-result {
  margin-bottom: 22px;

  .search-header {
    &:hover {
      cursor: pointer;
    }

    .site-icon {
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      margin-right: 3px;
    }

    .site-name {
      color: #000;
    }

    .display-link {
      display: block;
      font-size: 11px;
      color: #525559;
      margin-top: 3px;

      &:hover {
        color: #5f6368;
      }
    }

    .header-title {
      display: inline-block;
      padding-top: 3px;
      font-size: 14px;
      color: #1a0dab;
      margin-bottom: 3px;
      line-height: 1;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .description {
    display: block;
    color: #4d5156;
    white-space: pre-wrap;
    word-break: normal;
    word-wrap: break-word;
    font-size: 12px;
  }
}

.browser-link {
  margin-bottom: 7px;
}

.message-box {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  margin-left: -10px;
  padding: 5px;
  background-color: #eaeaea;

  input {
    height: auto;
    box-sizing: border-box;
    border-color: #6c757d;
  }

  .btn {
    height: auto;
    box-sizing: border-box;
  }
}

.chat-bubble {
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 35px;
  white-space: pre-wrap;
  word-break: break-word;

  &.disclaimer {
    border: 1px solid lighten(@disclaimer-color, 10%);
    border-bottom: 2px solid lighten(@disclaimer-color, 10%);
    background-color: #fff;
    background-color: lighten(@disclaimer-color, 20%);
    white-space: normal;
  }
}
